<html>
  <head>
    <title>Pizza {{pizza.produto.name}} </title>
  </head>
  <body>
    <h1>Pizza #{{ pizza.id }} #{{ pizza.tipoDePizza }}</h1>
    <h3> <a href="/cardapio/pizza/{{pizza.id}}/deletar">Deletar Pizza</a></h3>
    <h3>{{ pizza.produto.name }}</h3>
    <h4>Preço:</h4> R$ {{pizza.produto.preco}} 
    <br>
    <a href="/cardapio/pizza/{{pizza.id}}/alterar">alterar</a>
    <h1> Composição da Pizza -- Recheios </h1>
    <ul>
{% for pizzaingrediente in pizza.pizzaingrediente_set.all %}
      <li> {{ pizzaingrediente.ingrediente }} -- {{ pizzaingrediente.quantidadeDeUso }} kg
      <a href="/cardapio/pizza/{{pizza.id}}/{{pizzaingrediente.id}}/deletarIngrediente">Deletar Ingrediente</a>
{% endfor %}
    </ul>
    <a href="/cardapio/pizza/{{pizza.id}}/ingredienteDaPizza">Adicionar ingrediente à pizza</a>
    <br>
    <a href="http://gnt.globo.com/receitas/Conversor-de-medidas-para-receitas.shtml" target="new">Auxílio para conversão de medidas</a>
  </body>
</html>