<html>
  <head>
    <title>Pizza {{pizza.produto.name}}</title>
  </head>
  <body>
    <h1>Pizza #{{ pizza.id }} #{{ pizza.tipoDePizza }}</h1>
    <h3> <a href="/cardapio/pizza/{{pizza.id}}/deletar">Deletar Pizza</a></h3>
    <h3>{{ pizza.produto.name }}</h3>
    <h4>Preço:</h4> 
    <div class="form">
      <form method="post" action="editar">
        {% csrf_token%}
        <ul>
          <li>
            <label>Preço:</label>
            <input type="number" name="preco" step="0.01" min ="0"/>
            <input type="submit" value="Alterar"/>
          </li>
        </ul>
    </div> 
    <h1> Composição da Pizza -- Recheios </h1>
    <ul>
{% for pizzaingrediente in pizza.pizzaingrediente_set.all %}
      <li> {{ pizzaingrediente.ingrediente }} -- {{ pizzaingrediente.quantidadeDeUso }} kg
      <a href="/cardapio/pizza/{{pizza.id}}/{{pizzaingrediente.id}}/deletarIngrediente">Deletar Ingrediente</a>
{% endfor %}
    </ul>
    <a href="/cardapio/pizza/{{pizza.id}}/ingredienteDaPizza">Adicionar ingrediente à pizza</a>
    <br>
    <a href="http://gnt.globo.com/receitas/Conversor-de-medidas-para-receitas.shtml" target="new">Auxílio para conversão de medidas</a>
  </body>
</html>