{% extends "indexFeedback.html" %}

        {% load staticfiles %}

        {% block stylesheets %}
            {{ block.super }}

            <link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

        {% endblock %}

        {% block title %}
                CooPizza - Contact Us
        {% endblock %}

        {% block content %}
    <h1>Contact us</h1>

        <form action="{% url 'obrigado' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Assunto:</label>
                {{ form.assunto }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Data do Feedback:</label>
                {{ form.dataDoFeedback }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Tipo de Pedido:</label>
                {{ form.tipoDePedido }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Forma de Pedido:</label>
                {{ form.formaDePedido }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">precoPedido:</label>
                {{ form.precoPedido }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Observações:</label>
                {{ form.observacoes }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_subject">Assunto:</label>
                {{ form.assunto }}
            </div>
            <div class="fieldWrapper">
                {{ form.message.errors }}
                <label for="id_message">Nota:</label>
                {{ form.nota }}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="id_sender">E-mail:</label>
                {{ form.email }}
            </div>
            <p><input type="submit" value="Send message" /></p>
        </form>
        
        {% endblock %}
