<!DOCTYPE html>
<html>
  <head>
    <title>Pedidos</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
$(function() {
  $('.numeric').keyup(function () {
    if (this.value != this.value.replace(/[^0-9\.]/g, ''))
      this.value = this.value.replace(/[^0-9\.]/g, '');
  });
});
    </script>
  </head>
  <body>
    <h1>Pedidos</h1>
    <h4>Pedidos existentes</h4>
    <a href="{% url 'pedidoLista' %}">Visualizar todos</a>
    <h4>Novos pedidos</h4>
    <a href="{% url 'pedidoNovo' %}">Cadastrar pedido</a>
    <div class="form">
      <h4>Consultar pedidos</h4>
      <form method="post" action="consulta">
        {% csrf_token %}
        <ul>
          <li>
            <label for="email">pedido</label>
            <input type="text" id="pedido" name="pedido" size="15" maxlength="8" />
          </li>
          <li>
            <label for="email">e-mail</label>
            <input type="text" id="email" name="email" size="40" maxlength="40" />
          </li>
          <li>
            <label for="email">telefone</label>
            <input type="text" id="telefone" name="telefone" size="15" maxlength="15" class="numeric" />
          </li>
        </ul>
        <input type="submit" value="Consultar!"/>
      </form>
    </div>
  </body>
</html>