{% extends "indexClientes.html" %}
{% load staticfiles %}

    {% block title %}

    Cliente
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
$(function() {
  $('.numeric').keyup(function () {
    if (this.value != this.value.replace(/[^0-9\.]/g, ''))
      this.value = this.value.replace(/[^0-9\.]/g, '');
  });
});
    </script>

    {% endblock %}

    {% block content %}

    <h1>Digite seus dados:</h1>
    <div class="form">
      <form method="post" action="adicionar">
        {% csrf_token %}
        <ul>
          <li>
            <label>E-mail:</label>
            <input type="text" name="email" value="" size="40" maxlength="40" />
          </li>
          <li>
            <label>Telefone:</label>
            <input type="text" name="telefone" value="" size="15" maxlength="15" class="numeric" />
          </li>
          <li>
            <label>Senha:</label>
            <input type="text" name="senha" value="" size="15" maxlength="15" ß/>
          </li>
        </ul>
        <input type="submit" class="btn btn-small btn-success" value="Cadastrar"/>
      </form>
    </div>

    {% endblock %}