{% extends "indexClientes.html" %}
{% load staticfiles %}

    {% block title %}
    Cliente - Endereços
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
$(function() {
  $('.numeric').keyup(function () {
    if (this.value != this.value.replace(/[^0-9\.]/g, ''))
      this.value = this.value.replace(/[^0-9\.]/g, '');
  });
});
    </script>
    {% endblock %}


    {% block content %}
    <h1>Cliente </h1>

    <h3>{{ cliente.email }}</h3>

    <div class="form">
      <br>
      <h4>Endereço:</h4>
      <form method="post" action="adicionar">
        {% csrf_token %}
        <ul>
          <li>
            <label>CEP:</label>
            <input type="text" name="cep" value="" class="numeric" />
          </li>
          <li>
            <label>Logradouro:</label>
            <input type="text" name="logradouro" value="" />
          </li>
          <li>
            <label>Número:</label>
            <input type="text" name="numero" value="" />
          </li>
          <li>
            <label>Complemento:</label>
            <input type="text" name="complemento" value="" />
          </li>
          <li>
            <label>Bairro:</label>
            <input type="text" name="bairro" value="" />
          </li>
          <li>
            <label>Cidade:</label>
            <input type="text" name="cidade" value="" />
          </li>
          <li>
            <label>Estado:</label>
            <input type="text" name="estado" maxlength="2" value="" />
          </li>
        </ul>
        <input type="submit" class="btn btn-success" value="Adicionar"/>
      </form>
    </div>

    {% endblock %}