{% extends "indexClientes.html" %}
{% load staticfiles %}

    {% block title %}
    COOP PIZZA
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    </script>
    {% endblock %}

    {% block content %}

    <div class="form">
      <h1>Sou Cadastrado</h1>
      <form method="post" action="acesso">
        {% csrf_token %}
        <ul>
          <li>
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" size="40" maxlength="40" />
          </li>
          <li>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" size="29" maxlength="29" />
          </li>
        </ul>
        <input type="submit" class="btn btn-small btn-success" value="Entrar"/>
      </form>
    </div>

    <br>
    <br>

    <h3>Não sou cadastrado</h3>
    <a type="button" href="{% url 'clienteNovo' %}" class="btn btn-warning">
      Realizar Cadastro

    {% endblock %}