{% extends "indexCardapio.html" %}

		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

		{% endblock %}

		{% block title %}
				CooPizza - Bebida
		{% endblock %}

		{% block content %}

		<h1>Cadastrar Bebida</h1>
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'bebidaNova' %}" class="btn btn-lg btn-success btn-add">
		    	<span class="glyphicon glyphicon-plus"></span>
		    </a>
		  </div>
		<h1>Consultar Bebida</h1>
		<div class="form">
      		<form method="post" action="{% url 'bebidaConsulta' %}">
        		{% csrf_token %}
        		<label for="name">nome</label>
        		<input type="text" id="nome" name="nome" size="100" />
        		<input type="submit" value="Consultar"/>
      		</form>
    		</div>
		{% endblock %}
