{% extends "indexCardapio.html" %}

    {% load staticfiles %}

    {% block stylesheets %}
      {{ block.super }}

      <link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

    {% endblock %}

    {% block title %}
        CooPizza - Altera Bebida
    {% endblock %}

    {% block content %}
<h1>{{ bebida.produto.nome }}
    <a type="button" class="btn btn-small btn-danger" href="{% url 'bebidaDeletar' bebida.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a></h1> 
    <h4>Preço:</h4> 
    <div class="form">
      <form method="post" action="{% url 'bebidaEdita' bebida.id %}">
        {% csrf_token%}
        <ul>
          <li>
            <input type="number" name="preco" step="0.01" min ="0"/>
            <input type="submit" value="Alterar"/>
          </li>
        </ul>
    </div> 
    {% endblock %}