{% extends "indexCardapio.html" %}

    {% load staticfiles %}

    {% block stylesheets %}
      {{ block.super }}

      <link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

    {% endblock %}

    {% block title %}
        CooPizza - Bebida {{bebida.produto.nome}}
    {% endblock %}

    {% block content %}
<h1>{{ bebida.produto.nome }}
    <a type="button" class="btn btn-small btn-danger" href="{% url 'bebidaDeletar' bebida.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a></h1>
    <h4>Preço:</h4> R$ {{bebida.produto.preco}} 
        <a type="button" class="btn btn-small btn-primary" href="{% url 'bebidaAltera' bebida.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    {% endblock %}