{% extends "indexCardapio.html" %}

    {% load staticfiles %}

    {% block stylesheets %}
      {{ block.super }}

      <link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

    {% endblock %}

    {% block title %}
        CooPizza - Ingrediente {{pizza.nome}}
    {% endblock %}

    {% block content %}
<h1>Ingrediente {{ ingrediente.nome }}
    <a type="button" class="btn btn-small btn-danger" href="{% url 'ingredienteDeletar' ingrediente.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a></h1>
    <h4>Marca: {{ingrediente.marca}} </h4> 
    <h4>Descrição:</h4> R$ {{ingrediente.descricao}} 
    {% endblock %}

