{% extends "indexCardapio.html" %}

		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

		{% endblock %}

		{% block title %}
				CooPizza - Ingrediente
		{% endblock %}

		{% block content %}

		<h1>Cadastrar Ingrediente</h1>
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'ingredienteNovo' %}" class="btn btn-lg btn-success btn-add">
		    	<span class="glyphicon glyphicon-plus"></span>
		    </a>
		  </div>
		

		    	<table class ="table table-striped table-hover">
				<tr>

				<th style="text-align: center;">Nome</th>
				<th style="text-align: center;">Marca</th>
				<th style="text-align: center;">Modificar</th>
			
				</tr>

				<h1> Ingredientes </h1>

				{% for ingrediente in ingredientes %}
				      	<tr>
				        	<td style="text-align: center;" >{{ ingrediente.nome }}</td>
			            	<td style="text-align: center;">{{ ingrediente.marca }}</td>
				        	<td style="text-align: center;">
				          	<div class="element">
				                <a type="button" class="btn btn-small btn-primary" href="{% url 'ingredienteConsulta' ingrediente.id %}">
				                      <span class="glyphicon glyphicon-pencil"></span>
				                </a>
			            	</div>
				        	</td>
				        </tr>
			    {% endfor %}
			    </table>

		{% endblock %}