<html>
  <head>
    <title>Ingrediente {{ingrediente.name}}</title>
  </head>
  <body>
    <h1>Ingrediente #{{ ingrediente.id }}</h1>
    <h3>{{ ingrediente.name }}</h3>
    <h4>Quantidade no Estoque:</h4> 
    <div class="form">
      <form method="post" action="editar">
        {% csrf_token%}
        <ul>
          <li>
            <label>Quantidade(kg):</label>
            <input type="number" name="quantidadeEstoque" step="0.001" min ="0"/>
            <input type="submit" value="Alterar"/>
          </li>
        </ul>
    </div> 
  </body>
</html>