{% extends "indexCardapio.html" %}

		{% load staticfiles %}

		{% block stylesheets %}
			{{ block.super }}

			<link href="{% static "css/rh/rh_list.css" %}" rel="stylesheet">

		{% endblock %}

		{% block title %}
				CooPizza - Pizza
		{% endblock %}

		{% block content %}

		<h1>Cadastrar Pizza</h1>
		  <div class="element">
		    <!-- add -->
		    <a type="button" href="{% url 'pizzaNova' %}" class="btn btn-lg btn-success btn-add">
		    	<span class="glyphicon glyphicon-plus"></span>
		    </a>
		  </div>


		    	<table class ="table table-striped table-hover">
				<tr>

				<th style="text-align: center;">Nome</th>
				<th style="text-align: center;">Tipo</th>
				<th style="text-align: center;">Tamanho</th>
				<th style="text-align: center;">Preço</th>
				<th style="text-align: center;">Modificar</th>
			
				</tr>

				<h1> Pizzas </h1>

				{% for pizza in pizzas %}
				      	<tr>
				        	<td style="text-align: center;" >{{ pizza.produto.nome }}</td>
			            	<td style="text-align: center;">{{ pizza.tipoDePizza }}</td>
			            	<td style="text-align: center;">{{ pizza.tamanho }}</td>
			            	<td style="text-align: center;">{{ pizza.produto.preco }}</td>
				        	<td style="text-align: center;">
				          	<div class="element">
				                <a type="button" class="btn btn-small btn-primary" href="{% url 'pizzaConsulta' pizza.id %}">
				                      <span class="glyphicon glyphicon-pencil"></span>
				                </a>
			            	</div>
				        	</td>
				        </tr>
			    {% endfor %}
			    </table>


		{% endblock %}