{% extends "indexPedido.html" %}

	{% load staticfiles %}

	{% block stylesheets %}
		{{ block.super }}

	{% endblock %}

	{% block title %}
		Pizzas
	{% endblock %}

	{% block content %}
  
    <table class ="table table-striped table-hover">
        <tr>
          <th style="text-align: center;">Nome</th>
          <th style="text-align: center;">Ingredientes</th>
          <th style="text-align: center;">Preço</th>
          <th style="text-align: center;">Quantidade</th>
          <th style="text-align: center;">Remover do Carrinho</th>
        </tr>
    {% for item in itens %}
        <tr>
          <td>{{ item.produto.nome }}</td>
          <td style="text-align: center;">	
            <a type="button" class="btn btn-small btn-info" href="#">
              <span class="glyphicon glyphicon-list-alt"></span>
            </a>
          </td>
          <td>R$ {{ item.produto.preco }}</td>
          <td>{{ item.quantidade }}</td>
          <td style="text-align: center;">
            <div class="element">
              <a type="button" class="btn btn-small btn-primary" href="{% url 'carrinhoPedidoRemover' item.produto.id %}">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </a>
            </div>
          </td>
        </tr>
    {% endfor %}
  {% endblock %}
