{% extends "indexPedido.html" %}

	{% load staticfiles %}

	{% block stylesheets %}
		{{ block.super }}

		<link href="{% static 'css/pedidos.css' %}" rel="stylesheet" />

	{% endblock %}

	{% block title %}

		Pizzas

	{% endblock %}

  {% block extra_head %}
  
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'js/pedidos.js' %}"></script>

  {% endblock %}
  
	{% block content %}

      
    <div id="dialog_pizza" class="black_overlay white_content" style="display: none;">
      <p>Pizza:</p>
    </div>
    
		<table class ="table table-striped table-hover">
			<tr>

				<th>Nome</th>
				<th>Preço (P)</th>
				<th>Selecionar</th>
			
			</tr>

	<h1> Pizzas Normais </h1>

	{% for pizza in pizzas %}
		{% if pizza.tipoDePizza == 'normal' %}
	      	<tr>
	        	<td>{{ pizza.produto.nome }}</td>
	        	<td>R$ {{ pizza.produto.preco }}</td>
	        	<td>
	          	<div class="element">
			  	  <!-- add -->
			  	  <a type="button" class="btn btn-lg btn-success btn-add" id="popmeup">
			  	  	Selecionar
			  	  </a>
			  	</div>
	        	</td>
	        </tr>
	    {% endif %}
    {% endfor %}

      </table>
    

    		<table class ="table table-striped table-hover">
			<tr>

				<th>Nome</th>
				<th>Preço</th>
			
			</tr>

	<h1> Pizzas Especiais </h1>

	{% for pizza in pizzas %}
		{% if pizza.tipoDePizza == 'especial' %}
	      	<tr>
	        	<td>{{ pizza.produto.nome }}</td>
	        	<td>R$ {{ pizza.produto.preco }}</td>
	        	<td>
	          	<div class="element">
			  	  <!-- add -->
			  	  <a type="button" href="#" class="btn btn-lg btn-success btn-add">
			  	  	Selecionar
			  	  </a>
			  	</div>
	        	</td>
	        </tr>
	    {% endif %}
    {% endfor %}

      </table>

      		<table class ="table table-striped table-hover">
			<tr>

				<th>Nome</th>
				<th>Preço</th>
			
			</tr>

	<h1> Pizzas Doce </h1>

	{% for pizza in pizzas %}
		{% if pizza.tipoDePizza == 'doce' %}
	      	<tr>
	        	<td>{{ pizza.produto.nome }}</td>
	        	<td>R$ {{ pizza.produto.preco }}</td>
	        	<td>
	          	<div class="element">
			  	  <!-- add -->
			  	  <a type="button" href="#" class="btn btn-lg btn-success btn-add">
			  	  	Selecionar
			  	  </a>
			  	</div>
	        	</td>
	        </tr>
	    {% endif %}
    {% endfor %}

      </table>


  {% endblock %}




