{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>
            {% block title %}Coopizza{% endblock %}
        </title>
        {% block stylesheets %}
            <!-- Twitter Bootstrap CSS -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <!-- Custom styles for this template -->
            <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
        {% endblock %}
        {% block javascript %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            <!-- jQuery javascript-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <!-- Twitter Bootstrap javascript -->
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

            <script src="{% static "js/docs.min.js" %}"></script>
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            {% block navbar %}
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Coopizza</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  {% block navbar_links %}
                    <li><a href="#">Principal</a></li>
                    <li><a href="#">Atendimento</a></li>
                    <li><a href="#">BI</a></li>
                    <li><a href="#">Marketing/Feedback</a></li>
                    <li><a href="#">Login</a></li>
                  {% endblock %}
                </ul>
                {% comment %}
                <form class="navbar-form navbar-right">
                  <input type="text" class="form-control" placeholder="B...">
                </form>
                {% endcomment %}
              </div>
            {% endblock %}
          </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}
                    <li><a href="#">Login</a></li>
                      <li><a href="#">Login</a></li>  <li><a href="#">Login</a></li>  <li><a href="#">Login</a></li>
                  {% endblock %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>