{% extends "base_styled.html" %}
{% load staticfiles %}


{% block navbar_links %}
  <li><a href="{% url 'indexPedido' %}">Pedido</a></li>
  <li><a href="#">BI</a></li>
  <li><a href="#">Marketing</a></li>
  <li><a href="{% url 'indexCardapio' %}">Cardápio</a></li>
  <li><a href="{% url 'indexFeedback' %}">Feedback</a></li>
  <li><a href="{% url 'indexClientes' %}">Login</a></li>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      	{% block sidebar_links %}
        {% endblock %}
      </ul>
    </div>
{% endblock %}

{% block content %}
{% comment %}<h1 class="page-header">Bem Vindo</h1>{% endcomment %}
<div class="jumbotron">
	<h1 class="text-center">CooPizza</h1>
	<p class="lead text-justify"> Melhor ERP para pizzarias.</p>
</div>
{% endblock %}